PORT = 8000
MONGODB_URI=mongodb://sahil:sahil12345@cluster0-shard-00-00.ecgpftz.mongodb.net:27017,cluster0-shard-00-01.ecgpftz.mongodb.net:27017,cluster0-shard-00-02.ecgpftz.mongodb.net:27017/myDatabase?ssl=true&replicaSet=atlas-xxxx-shard-0&authSource=admin&retryWrites=true&w=majority
